<div class="container-fluid header">
  <div class="row">
    <div class="col">
      <h1>ÖRDER</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img alt="" src="../../../assets/images/order-icon.png">
    </div>
    <div class="col">

      <div class="row">

        <div class="col-2"><a [routerLink]="['/items']">
          * Items </a>
        </div>


        <div class="col-2"><a [routerLink]="['/create-item']">
          * Create Item</a>
        </div>


        <div class="col-2"><a [routerLink]="['']">
          * placeholderlink</a>
        </div>

      </div>

    </div>
  </div>
</div>
