<div class="container-fluid header">
  <div class="row">
    <div class="col">
        <div class="row"><h1 class="logo">Ö</h1></div>
        <div class="row"><h3 >ÖRDER</h3><small>switchfully örder project</small></div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col">

      <div class="row">

        <div class="col-2">
          <a class="nav-link" [routerLink]="['/items']">
           Items
          </a>
        </div>


        <div class="col-2">
          <a class="nav-link" [routerLink]="['/create-item']">
           Create Item
          </a>
        </div>


        <div class="col-2">
          <a class="nav-link" [routerLink]="['/customers']">
           Customers
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
