<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h2>Edit Item</h2>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col-3"></div>

    <div class="col form-group" *ngIf="item | async as item ">
      <form [formGroup]="editItemForm" (ngSubmit)="onUpdate()">
        <div class="row">
          <label class="col-form-label">Item: {{item.id}}</label>
        </div>
        <div class="form-row">
          <label class="col-form-label">Name:</label>
        </div>
        <div class="form-row">
          <input type="text" formControlName="name" class="form-control">
        </div>
        <div
          *ngIf="getFormAttribute('name').invalid && (getFormAttribute('name').dirty||getFormAttribute('name').touched)">
          <small *ngIf="getFormAttribute('name').errors?.['minlength']" [style.color]="'red'">
            A name should at least have 2 characters.
          </small>
          <small *ngIf="getFormAttribute('name').errors?.['maxlength']" [style.color]="'red'">
            A name can't hold more than 50 characters
          </small>
        </div>
        <div class="form-row">
          <label class="col-form-label">Description:</label>
          <small id="charactercounter" [style.color]="countColor()? 'greenyellow':'red'">({{countCharacters()}}/255)</small>
        </div>
        <div class="form-row">
          <textarea id="itemdescription" type="text" formControlName="description" class="form-control"></textarea>
        </div>
        <div
          *ngIf="getFormAttribute('description').invalid && (getFormAttribute('description').dirty||getFormAttribute('description').touched)">
          <small *ngIf="getFormAttribute('description').errors?.['maxlength']" [style.color]="'red'">
            Maximum of characters exceeded.
          </small>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-row">
              <label class="col-form-label">Price:</label>
            </div>
            <div class="form-row">
              <input type="text" formControlName="price" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="form-row">
              <label class="col-form-label">Amount of stock:</label>
            </div>
            <div class="form-row">
              <input type="text" formControlName="amountOfStock" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <button class="btn btn-primary btn-lg" type="submit">
              Update
            </button>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg" (click)="onCancel()">
              Cancel
            </button>
          </div>
        </div>

      </form>
    </div>


    <div class="col-3"></div>
  </div>


</div>
