<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <div class="form-group">
        <form [formGroup]="createCustomerForm">
          <div class="form-row">
            <div class="col"><label class="col-form-label">FirstName</label></div>

            <div class="col"><label class="col-form-label">LastName</label></div>
          </div>
          <div class="form-row">
            <div class="col"><input formControlName="firstname" class="form-control" type="text"></div>
            <div class="col"><input formControlName="lastname" class="form-control" type="text"></div>
          </div>
          <div class="form-row">
            <div class="col"
              *ngIf="getFormAttribute('firstname').invalid && (getFormAttribute('firstname').dirty||getFormAttribute('firstname').touched)">
              <small *ngIf="getFormAttribute('firstname').errors?.['required']" [style.color]="'red'">
                Firstname is required.
              </small>
              <small *ngIf="getFormAttribute('firstname').errors?.['minlength']" [style.color]="'red'">
                Firstname should be at least 2 characters long.
              </small>
            </div>
            <div class="col"
                 *ngIf="getFormAttribute('lastname').invalid && (getFormAttribute('lastname').dirty||getFormAttribute('lastname').touched)">
              <small *ngIf="getFormAttribute('lastname').errors?.['required']" [style.color]="'red'">
                Lastname is required.
              </small>
              <small *ngIf="getFormAttribute('lastname').errors?.['minlength']" [style.color]="'red'">
                Lastname should be at least 2 characters long.
              </small>
            </div>
          </div>
          <div class="form-row">
            <div class="col">E-mail</div>
          </div>
          <div class="form-row" formGroupName="email">
            <div class="col-2"><input formControlName="localPart" class="form-control" type="text"></div>
            <div class="col-1">@</div>
            <div class="col-4"><input formControlName="domain" class="form-control"></div>
          </div>
          <div class="form-row">
            <div class="col">Phone number ( mobile)</div>
          </div>
          <div class="form-row" formGroupName="phoneNumber">
            <div class="col-sm-1">+</div>
            <div class="col-sm-2"><input formControlName="countryCallingCode" class="form-control" type="text"></div>
            <div class="col-6"><input formControlName="number" class="form-control" type="text"></div>
          </div>
          <div class="form-row">
            <div class="col">Street</div>
            <div class="col">Number</div>
          </div>
          <div class="form-row" formGroupName="address">
            <div class="col-sm-2"><input formControlName="streetName" class="form-control" type="text"></div>
            <div class="col-6"><input formControlName="houseNumber" class="form-control" type="text"></div>
          </div>
          <div class="form-row">
            <div class="col-2">Postal code</div>
            <div class="col">Country</div>
          </div>
          <div class="form-row" formGroupName="address">
            <div class="col-2" type="text">
              <input class="form-control" formControlName="postalCode">
            </div>
            <div class="col-4" type="text">
              <select type="text" name="countries" formControlName="country" class="custom-select">
                <option value="Belgium" selected>Belgium</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
              </select></div>
          </div>

          <div class="form-row">
            <div class="col"><a type="button" class="btn btn-primary" (click)="onSubmit()">Create</a></div>
            <div class="col-1"><a type="button" class="btn btn-primary">Cancel</a></div>
          </div>

        </form>

      </div>
    </div>
    <div class="col-6">

    </div>
  </div>

</div>
