<div class="container-fluid">

  <div class="row itemcontainer">
    <div class="col" *ngFor="let item of items">
      <div class="row itemdiv">
        <div class="row">
          <div class="col">
            <p class="iteminformation"> {{item.name}} </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img alt="" src="/assets/images/placeholders/placeholder-image.png" height="200" width="200" class="itemplaceholder">
          </div>
        </div>
        <div class="row">
          <div class="col">Price: <p class="iteminformation">{{item.price}} EUR </p></div>
          <div class="col"><p class="iteminformation">{{item.stockUrgency.substring(6)}}</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
