.itemcontainer{
  margin: 0;
  height: 100%;
}
.itemdiv{
  background-color: #c0dbc0;
  margin: 10px;
  border-radius: 6px;
}
.iteminformation{
  font-weight: bold;
}

.itemplaceholder{
  display: block;
  margin: auto;
  border: 1px solid #FEF5ED;


}
.stockicon{
  height: 2vh;
  width: 2vh;
}

input{
    width: 10%;
    border: 1px solid #c0dbc0;
    background-color:  #ADC2A9;
  }
