.itemcontainer{
  margin: 0;
  height: 100%;
}
.itemdiv{
  background-color: #c0dbc0;
  margin: 10px;
  border-radius: 6px;
}

.iteminformationname{
  display: block;
  margin-top: 1vmin;
  text-align: center;
  font-weight: bold;
  background-color: #a5d6ad;
  border-radius: 6px;

}

.itemplaceholder{
  display: block;
  margin: auto;
  border: 1px solid #FEF5ED;
  width: 8vw;
  height: 8vw;


}
.stockicon{
  display: block;
  margin-right: auto;
  height: 2vh;
  width: 2vh;
}

input{
    width: 10%;
    border: 1px solid #c0dbc0;
    background-color:  #ADC2A9;
  }
#itemnamefilter{
  width: 10em;
}

.itemdiv{
  width: 25%;
  height: 30%;


}
