/* You can add global styles to this file, and also import other style files */
body {
  background-color: #66806A;
  font-family: Andale Mono, monospace;
  color: #FEF5ED;

}
a {
  color: #81ae88;
  font-weight: normal;
}
a:hover{
  font-weight: bold;
  color: #f3f7f4;
  text-decoration: none;
}


